<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haojiu.communitymanager">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.haojiu.Activity.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.haojiu.Activity.SettingActivity"></activity>
        <activity android:name="com.haojiu.Activity.MainActivity" ></activity>
        <activity android:name="com.haojiu.Activity.RegistActivity"></activity>
        <activity android:name="com.haojiu.Activity.RukuDetailsActivity" ></activity>
        <activity android:name="com.haojiu.Activity.OutDetailsActivity" ></activity>
        <activity android:name="com.haojiu.Activity.CheckDetailsActivity" ></activity>
        <activity android:name="com.haojiu.Activity.ZxingActivity"></activity>
        <activity android:name="com.haojiu.Activity.GoodDetailsActivity"></activity>
        <activity android:name="com.haojiu.Activity.DetailsReadonlyActivity"></activity>
    </application>

</manifest>